---
layout: home
---

<ul class="inline">
  <li><a class="hashtag" href="/tags/#javascript" title="Blog posts about 'javascript'">javascript</a></li>
  <li><a class="hashtag" href="/tags/#git" title="Blog posts about 'git'">git</a></li>
  <li><a class="hashtag" href="/tags/#vim" title="Blog posts about 'vim'">vim</a></li>
  <li><a class="hashtag" href="/toki-pona" title="actually a whole landing page about Toki Pona">toki-pona</a></li>
  <li><a class="hashtag" href="/tags/#lojban" title="Blog posts about 'lojban'">lojban</a></li>
  <li><a class="hashtag" href="/tags/#orthography" title="Blog posts about 'orthography'">orthography</a></li>
</ul>

<div id="pinned">
  <h3>Pinned Posts</h3>
  <ul>
    {% for post in site.posts %}
      {% if post.pin == true %}
        <li>
          <a class="post-link" href="{{ post.url | prepend: site.baseurl }}">{{ post.title }}</a>
        </li>
      {% endif %}
    {% endfor %}
  </ul>
</div>

<style>
  a.hashtag {
    font: 0.8em monospace;
  }
  a.hashtag:before {
    content: '#';
  }

  #pinned {
    margin-bottom: 3rem;
  }
  #pinned h2 {
  }
  #pinned li {
    list-style: '📍';
    padding: 0 0 0.33em 0.66em;
  }
  #pinned a {
    color: #92d792;
    font-weight: bold;
  }

</style>
