{% capture prev_text %}
{% if include.num == 2 %} wan {% elsif include.num == 3 %} tu {% else %}{{ include.num | minus: 1 }}{% endif %}
{% endcapture %}

{% capture next_text %}
{% if include.num == 1 %} tu {% else %}{{ include.num | plus: 1 }}{% endif %}
{% endcapture %}

<nav class="kipisi-nav">
  {% if include.num != 1 %}
    <a href="{{ include.num | minus: 1 }}" title=" monsi la: kasi nanpa {{ prev_text }}">kasi nanpa {{ prev_text }}</a>
  {% endif %}
  <a href="index" title="kasi ale">kasi ale</a>
  {% if include.num != 81 %}
    <a href="{{ include.num | plus: 1 }}" title="kasi sinpin la: kasi nanpa {{ next_text }}">kasi nanpa {{ next_text }}</a>
  {% endif %}
</nav>

<style>
  .kipisi-nav {
    display: flex;
    flex-flow: row nowrap;
    max-width: 30rem;
    margin: 2rem auto;
    padding: 0.5rem;
    box-shadow: 0 0 0.5rem 0.3rem rgba(99, 99, 99, 0.5);
    background: rgba(99, 99, 99, 0.5);
    border-radius: 2rem;
  }
  .kipisi-nav a {
    display: inherit;
    flex: 1;
    justify-content: space-around;
  }
</style>
