h2 {
  border-bottom: 0;
}

.kipisi > table {
  display: table;
  font-size: 0.85em; /* otherwise set to 0.75 */
}
.kipisi > table tr:nth-child(2n) {
  background-color: #3456;
}
.kipisi > table td {
  border-bottom: 0;
  padding: 0.2em 0.3em;
  line-height: 0.95rem;
}
.kipisi > table td:nth-child(2) { /* source Chinese */
  white-space: nowrap;
  font-size: 1.1em; /* em not rem... */
}
