[Sitelen Sitelen Renderer](http://livingtokipona.smoishele.com/examples/liveinput/liveinput.html) by [Olaf Janssen](https://github.com/olafjanssen).

{% include sitelen-sitelen.js %}

<style>
  ul[data-sitelen] {
    display: flex;
    flex-flow: row wrap;
    align-items: flex-start;
    justify-content: space-around;
    width: 100%;
    padding: 1rem;
    /* background: pink; */
  }
  p[data-sitelen] {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
    margin: 0 0 1rem;
  }
  p[data-sitelen-ratio^="0."] > svg,
  p[data-sitelen-ratio ="1" ] > svg,
  p[data-sitelen-ratio^="1."] > svg {
    flex-basis: 50%;
    padding: 0;
  }
</style>

{:sitelen: data-sitelen="true"}
