---
# front matter enables Sass transformation
---

@charset "utf-8";

@import "minimal-mistakes/skins/{{ site.minimal_mistakes_skin | default: 'default' }}";
@import "minimal-mistakes";

// @font-face {
//   font-family: tp-Fairfax; // TODO fix ... or are these unicode??
//   src: url('https://raw.githubusercontent.com/kreativekorp/open-relay/3326b936d7bc0b83aaef5a84c715e6a53070fb78/Fairfax/Fairfax.ttf') format('truetype');
//   line-height: 1.1em;
// }
// @font-face {
//   font-family: tp-SitelenSeliKiwen; // TODO fix...
//   src: url('https://raw.githubusercontent.com/kreativekorp/sitelen-seli-kiwen/e964709/main/sitelenselikiwenasuki.ttf') format('truetype');
//   line-height: 1.1em;
// }
@font-face {
  font-family: tp-LinjaLipamanka; // missing: pake
  src: url('https://lipamanka.gay/linjalipamanka-normal.otf') format('opentype');
  line-height: 1.1em;
}
@font-face {
  font-family: tp-LinjaPona; // missing: pake powe usawi
  src: url('https://raw.githubusercontent.com/janSame/linja-pona/master/linja-pona-4.9.otf') format('opentype');
  font-size: 1.1em / 1.1em; // no monospacing of nbsp...
}
@font-face {
  font-family: tp-SitelenPonaPona;
  src: url('https://jackhumbert.github.io/sitelen-pona-pona/fonts/sitelen-pona-pona.otf');
  font-weight: 400;
  text-rendering: optimizeLegibility;
  font-feature-settings: "liga" 1;
}




// disable minimal-mistakes stuff...
html * { transition: none; -webkit-transition: none; }
html table { font-size: inherit; }
html dd { font-size: inherit; }


#dough-ratio-calculator {
  display: flex;
  flex-flow: column wrap;
  max-height: 50vh;
  align-items: flex-start;
  box-shadow: 1px 2px 5px #FFFa inset;
  border-radius: 1rem;
  padding: 0.5rem 1rem;

  > * {
    margin: 0.5rem;
    flex-grow: 1;
  }

  ul {
    list-style: none;
    padding: 0;
    flex-basis: 7rem;
  }
  input {
    width: auto;
    max-width: 4rem;
    text-align: right;
    border: 1px solid #FFFa;
    background: #FFF3;
  }
  abbr {
    border: none !important;
  }

  table {
    flex-basis: 10rem;
    width: auto;
    overflow-x: visible;
    td:first-child {
      text-align: right;
    }
  }

  p {
    text-align: center;
  }
}

.archive {
  .archive__subtitle {
    font-size: 1.5em;
  }

  .archive__item {
    margin: 1em;
    display: flex;
    flex-flow: column nowrap;

    h2 {
      margin-top: 0;
    }
    .page__meta {
      order: -1;
    }
    .archive__item-excerpt {
    }
  }
}

.layout--single {
  .sidebar {
  }
}
