---
---

@import "{{ site.theme }}";

body {
	font-family: sans-serif;
}

#published-date {
	&:before {
		content: "published:\A0";
	}

	background: #333;
	border: 2px solid #888;
	list-style: none;
	padding: 0.8em;
}

#tags {
	&:before {
		content: "tags:\A0";
	}

	background: #333;
	border: 2px solid #888;
	list-style: none;
	padding: 0.8em;

	li {
		display: inline-block;
		padding: 0.3em;
	}
}
