<div>
  <img src="/assets/images/alexander-120x120.png" alt="Alexander">
  <p>
    <strong>Alexander</strong> — a.k.a. <code>@alxndr</code> / a.k.a. <code>@drwxrxrx</code>
  </p>
</div>

<style>
  div {
    align-items: center;
    display: flex;
  }

  img {
    width: 100px;
    height: 100px;
    border-radius: 100px;
    display: block;
    margin-right: 20px;
  }

  p {
    font-size: 1.125rem;
  }
</style>
