<style>
  a {
    display: block;
    font-family: var(--font-family-sans);
    font-size: 0.9em;
    font-weight: 700;
    text-decoration: none;
    color: inherit;
  }

  @media screen and (max-width: 520px) {
    a {
      flex: 0 0 100%;
      text-align: center;
    }
  }
</style>

<a href="/">://alxndr.blog — Alexander's blog</a>
