---
layout: single
classes: wide
---

<div class="lpns">{{ content }}</div>

<h5><a href="/lipu-nasin-pona/#acknowledgements" title="acknowledgements">Acknowledgements</a> / <a href="/lipu-nasin-pona/#notes" title="notes">Notes</a></h5>

<style>
  .sidebar > h3 {
    display: none;
  }
  .sidebar > ul.kasi-nav-sidebar {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
    list-style: none;
    padding: 0;
  }
  .sidebar > ul.kasi-nav-sidebar li {
    flex-basis: 9em;
    margin: 0 0.5em 0.5em;
  }
  .sidebar > ul.kasi-nav-sidebar a {
    display: block;
    padding: 0.5rem;
    text-decoration: none;
    text-align: center;
  }

  .loseta tbody {
    display: table; /* why is this necessary */
    width: 100%;
  }
  .loseta td {
    padding: 0.2em;
  }
  .loseta td:nth-child(1) { /* source text */
    white-space: nowrap;
    font: 2em zh-FangZhengXiaoZhuanTi, zh-EBAS, zh-JinWen, cursive, fantasy; /* em not rem... */
    text-align: left;
    letter-spacing: -0.3em; /* em not rem... */
  }
  .loseta td:nth-child(2) { /* tokipona */
    text-align: right;
  }
  .loseta td:nth-child(3) { /* english */
    display: none;
    text-align: right;
    opacity: 0.6;
    font-size: 0.9em;
  }

  #sitelen {
    border: 0;
  }
  h2 {
    border-bottom: 0;
  }
</style>
