---
layout: single
classes: wide
---

<p class="subheading">lipu {% if page.chapter < 38 %}Nasin{% else %}Pona{% endif %} la: kasi nanpa {{page.chapter}} pi lipu Nasin Pona</p>

<nav class="kasi-nav-sidebar">
  {% unless page.chapter == 1 %}
    <a href="{% if page.chapter < 11 %}0{% endif %}{{ page.chapter | minus: 1 }}"><span>tawa monsi la:</span> kasi nanpa {{ page.chapter | minus: 1 }}</a>
  {% endunless %}

  <a href="../lipu-nasin-pona">kasi ale</a>

  {% unless page.chapter == 81 %}
    <a href="{% if page.chapter < 9 %}0{% endif %}{{ page.chapter | plus: 1 }}"><span>tawa sinpin la:</span> kasi nanpa {{ page.chapter | plus: 1 }}</a>
  {% endunless %}
</nav>

<div class="lpns">{{ content }}</div>

<h5><a href="/lipu-nasin-pona/#acknowledgements" title="acknowledgements">Acknowledgements</a> / <a href="/lipu-nasin-pona/#notes" title="notes">Notes</a></h5>

<style>
  .kasi-nav-sidebar {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
    list-style: none;
    padding: 0;
  }
  .kasi-nav-sidebar a {
    flex-basis: 9em;
    display: block;
    margin: 0 0.5em 0.5em;
    padding: 0.5rem;
    text-decoration: none;
    text-align: center;
  }

  .loseta tbody {
    display: table; /* why is this necessary */
    width: 100%;
  }
  .loseta td {
    padding: 0.2em;
  }
  .loseta td:nth-child(1) { /* source text */
    white-space: nowrap;
    font: 2em zh-FangZhengXiaoZhuanTi, zh-EBAS, zh-JinWen, cursive, fantasy; /* em not rem... */
    text-align: left;
    letter-spacing: -0.3em; /* em not rem... */
  }
  .loseta td:nth-child(2) { /* tokipona */
    text-align: right;
  }
  .loseta td:nth-child(3) { /* english */
    display: none;
    text-align: right;
    opacity: 0.6;
    font-size: 0.9em;
  }

  #sitelen {
    border: 0;
  }
  h2 {
    border-bottom: 0;
  }
</style>

<!--end lipu-nasin-pona.html-->
